### Mission 01

In [3]:
import pandas as pd

# Liste tous les fichiers dans le répertoire courant qui se terminent par '.csv'
files = ['./airports.csv', './flights.csv']


dfAirports = pd.read_csv(files[0])

dfFlights = pd.read_csv(files[1])

dfAirports

,Unnamed: 0,faa,name,lat,lon,alt,tz,dst,tzone
0,0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York
...,...,...,...,...,...,...,...,...,...
1453,1453,ZUN,Black Rock,35.083228,-108.791778,6454,-7,A,America/Denver
1454,1454,ZVE,New Haven Rail Station,41.298669,-72.925992,7,-5,A,America/New_York
1455,1455,ZWI,Wilmington Amtrak Station,39.736667,-75.551667,0,-5,A,America/New_York
1456,1456,ZWU,Washington Union Station,38.897460,-77.006430,76,-5,A,America/New_York
1457,1457,ZYP,Penn Station,40.750500,-73.993500,35,-5,A,America/New_York

## Question 1

Combien y-a-t-il : 

- d’aéroports en tout, de départ et de destination
- Combien y-a-t-il d’aéroports où on ne passe pas à l’heure d’été (indice : colonne dst : 23) ? de fuseaux horaires (10 voir colone tzone dont une  « N »)
- de compagnies, d’avions, de vols annulés ?

In [4]:
# Nettoie les données en supprimant les doublons
dfAirports = dfAirports.drop_duplicates()

# compter le nombre d'aeroport
print('Nombre d\'aéroport :', dfAirports['name'].count())

Nombre d'aéroports : 1440

In [5]:
dfFlights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2021,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2021-01-01T05:00:00Z
1,2021,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2021-01-01T05:00:00Z
2,2021,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2021-01-01T05:00:00Z
3,2021,1,1,544,545,-1,1004,1022,-18,B6,725,N804JB,JFK,BQN,183,1576,5,45,2021-01-01T05:00:00Z
4,2021,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2021-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252699,2021,7,3,1059,1100,-1,1214,1210,4,MQ,3230,N522MQ,JFK,DCA,51,213,11,0,2021-07-03T11:00:00Z
252700,2021,7,3,1059,1100,-1,1207,1213,-6,US,2171,N754UW,LGA,DCA,43,214,11,0,2021-07-03T11:00:00Z
252701,2021,7,3,1101,1110,-9,1305,1240,25,9E,3910,N813AY,JFK,RIC,61,288,11,10,2021-07-03T11:00:00Z
252702,2021,7,3,1105,1055,10,1435,1358,37,B6,971,N598JB,LGA,FLL,176,1076,10,55,2021-07-03T10:00:00Z
252703,2021,7,3,1107,1100,7,1220,1230,-10,WN,3297,N264LV,LGA,BNA,109,764,11,0,2021-07-03T11:00:00Z

In [12]:
# Nettoie les données en supprimant les doublons
dfFlights = dfFlights.drop_duplicates()

# compter le nombre d'aeroport
print('Nombre de depart :', dfFlights['dep_time'].count())

# nombre de d'arriver
print('Nombre d\'arriver :', dfFlights['arr_time'].count())

# Nombres d'aeroport où on ne passe pas à l'heure d'été (indice : colonne dst : 23)
print('Nombre d\'aeroport où on ne passe pas à l\'heure d\'été :', dfAirports[dfAirports['dst'] == 'N'].count()['dst'])

# Nombre de companies
print('Nombre de companies :', dfFlights['carrier'].nunique())

# Nombre d'avions
print('Nombre d\'avions :', dfFlights['tailnum'].nunique())

# Nombre de vols annulés

resultats = pd.DataFrame({
    'Nb de départs': [dfFlights['dep_time'].count()],
    'Nb d\'arrivées': [dfFlights['arr_time'].count()],
    'Nb d\'aéroports où on ne passe pas à l\'heure d\'été': [dfAirports[dfAirports['dst'] == 'N'].count()['dst']],
    'Nb de compagnies': [dfFlights['carrier'].nunique()],
    'Nb d\'avions': [dfFlights['tailnum'].nunique()],
    'Nb de vols annulés': ""
})

resultats

Nombre de depart : 252704
Nombre d'arriver : 252704
Nombre d'aeroport où on ne passe pas à l'heure d'été : 23
Nombre de companies : 16
Nombre d'avions : 3983

,Nb de départs,Nb d'arrivées,Nb d'aéroports où on ne passe pas à l'heure d'été,Nb de compagnies,Nb d'avions,Nb de vols annulés
0,252704,252704,23,16,3983,

## Question 02
- Quel est l’aéroport de départ le plus emprunté ? 
- Quelles sont les 10 destinations les plus (moins) prisées (en indiquant le nom complet des destinations et non juste le code correspondant et le % corresp pour chaque destination) ?
- Quelle sont les 10 avions qui ont le plus (moins) décollé ?

In [13]:
# L’aéroport de départ le plus emprunté ?
print ('L’aéroport de départ le plus emprunté :', dfFlights['origin'].value_counts().idxmax())

# Les 10 destinations les plus (moins) prisées (en indiquant le nom complet des destinations et non juste le code correspondant et le % corresp pour chaque destination), prend le dfAirports pour avoir le nom complet des destinations
print('Les 10 destinations les plus prisées :')

top_10_destinations = dfFlights['dest'].value_counts().head(10).index
top_10_destinations_df = dfAirports[dfAirports['faa'].isin(top_10_destinations)]
top_10_destinations_df = top_10_destinations_df.set_index('faa').loc[top_10_destinations]
top_10_destinations_df['percentage'] = dfFlights['dest'].value_counts(normalize=True).head(10).values * 100

print(top_10_destinations_df[['name', 'percentage']])

print ('\n\nLes 10 destinations les moins prisées :')

moin_10_destinations = dfFlights['dest'].value_counts().tail(10).index
moin_10_destinations_df = dfAirports[dfAirports['faa'].isin(moin_10_destinations)]
moin_10_destinations_df = moin_10_destinations_df.set_index('faa').loc[moin_10_destinations]
moin_10_destinations_df['percentage'] = dfFlights['dest'].value_counts(normalize=True).tail(10).values * 100

print(moin_10_destinations_df[['name', 'percentage']])

L’aéroport de départ le plus emprunté : EWR
Les 10 destinations les plus prisées :
                                    name  percentage
dest
ATL      Hartsfield Jackson Atlanta Intl    5.122990
ORD                   Chicago Ohare Intl    5.007440
LAX                     Los Angeles Intl    4.707088
BOS   General Edward Lawrence Logan Intl    4.574522
MCO                         Orlando Intl    4.209273
CLT               Charlotte Douglas Intl    4.134481
SFO                   San Francisco Intl    3.849959
FLL       Fort Lauderdale Hollywood Intl    3.736783
MIA                           Miami Intl    3.536944
DCA        Ronald Reagan Washington Natl    2.922787


Les 10 destinations les moins prisées :
                           name  percentage
dest
CHO   Charlottesville-Albemarle    0.012267
JAC        Jackson Hole Airport    0.009893
BZN              Gallatin Field    0.007914
PSP           Palm Springs Intl    0.007519
EYW               Key West Intl    0.006727
TVC      Cherry Capital Airport    0.006332
MTJ   Montrose Regional Airport    0.005936
HDN                Yampa Valley    0.005936
SBN             South Bend Rgnl    0.001583
LEX                  Blue Grass    0.000396

In [14]:
filtered_dfFlights = dfFlights.dropna(subset=['dep_time'])

# Les 10 avions qui ont le plus (moins) décollé
print('Les 10 avions qui ont le plus décollé :\n')
print(filtered_dfFlights['tailnum'].value_counts().head(10))

print ('\n\nLes 10 avions qui ont le moins décollé :')
print(filtered_dfFlights['tailnum'].value_counts().tail(10))

Les 10 avions qui ont le plus décollé :

tailnum
          1973
N725MQ     443
N723MQ     394
N713MQ     385
N722MQ     378
N711MQ     376
N258JB     332
N353JB     316
N542MQ     310
N351JB     310
Name: count, dtype: int64


Les 10 avions qui ont le moins décollé :
tailnum
N914DN    1
N7ACAA    1
N302AS    1
N585AS    1
N7AXAA    1
N907DA    1
N941FR    1
N350SW    1
N320AS    1
N352NB    1
Name: count, dtype: int64

## Question 3

- Combien chaque compagnie a desservi de destination ; 
- combien chaque compagnie a desservie de destination par aéroport d’origine. 
- Réaliser les graphiques adéquats qui synthétisent ces informations ?

In [18]:
# Nombre de compagnies desservant chaque dest
print('Nombre de compagnies desservant chaque dest :\n')
print(dfFlights.groupby('dest')['carrier'].nunique().sort_values(ascending=False))

# Nombre de destinations desservies par chaque compagnie par aéroport d'origine
print('Nombre de destinations desservies par chaque compagnie par aéroport d\'origine :\n')
print(dfFlights.groupby(['origin', 'carrier'])['dest'].nunique().sort_values(ascending=False))

# resultats = pd.DataFrame({
#     "Nb compagnie desserve chaque dest" : dfFlights.groupby('dest')['carrier'].nunique().sort_values(ascending=False),
#     "Nb "
# })

Nombre de compagnies desservant chaque dest :

dest
BOS    7
ATL    7
CLT    7
TPA    7
ORD    7
      ..
PSP    1
PVD    1
HDN    1
GSO    1
ABQ    1
Name: carrier, Length: 103, dtype: int64
Nombre de destinations desservies par chaque compagnie par aéroport d'origine :

origin  carrier
EWR     EV         53
LGA     EV         45
EWR     UA         45
JFK     B6         42
LGA     9E         36
JFK     9E         34
        DL         29
LGA     DL         22
JFK     AA         17
LGA     MQ         12
JFK     MQ         11
EWR     WN          9
LGA     WN          8
EWR     B6          7
LGA     B6          6
        AA          5
JFK     VX          5
LGA     UA          4
        US          4
EWR     DL          4
        9E          4
LGA     FL          3
        YV          3
JFK     US          3
EWR     AA          3
JFK     EV          3
        UA          2
EWR     VX          2
        US          2
LGA     OO          2
EWR     OO          2
LGA     F9          1
EWR     MQ          1
        AS          1
JFK     HA          1
Name: dest, dtype: int64